@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700");
.no-margin {
  margin: 0 !important; }

.center {
  float: none !important;
  margin: 0 auto; }

.center-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

.center-text {
  text-align: center; }

.block-overlap {
  margin-top: -4em !important;
  width: 90% !important;
  position: relative; }

.flex-container {
  max-width: 1780px;
  padding: 0;
  margin: 0 auto;
  float: none !important;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
  -webkit-align-items: stretch;
  align-items: stretch; }
  @media screen and (max-width: 767px) {
    .flex-container {
      display: block; } }

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */ }

.menu-icon {
  display: none; }

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

.hide-on-desktop {
  display: none !important; }

@media handheld, only screen and (max-width: 767px) {
  .hide-on-desktop {
    display: block !important; }
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 20px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }
  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }
  [class*='col-'] [class*='col-'] {
    padding-right: 0; }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

.button a {
  border: 1px solid;
  font-size: 13px;
  display: inline-block;
  padding: 9px 25px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.button.black a {
  color: #333447; }
  .button.black a:hover {
    background: #eaeaec; }

.button.color-olive a {
  color: #D1B894; }
  .button.color-olive a:hover {
    background: #42404e; }

.button.white a {
  color: #ffffff; }
  .button.white a:hover {
    background: #eaeaec; }

h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 45px;
  line-height: 1.5;
  text-align: center; }

h2 {
  font-family: "Playfair Display", Times, serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center; }

h3, p, p.caption, p.button, a, ul, li {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400; }

h3 {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center; }

p {
  font-size: 14px;
  line-height: 1.5;
  color: #333447; }
  p.caption {
    font-size: 12px; }
  p.button {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center; }

a {
  color: #C13A53;
  text-decoration: none; }

.font-normal {
  font-weight: 100; }

div.clearfix {
  clear: both; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

header {
  height: 85px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 9999; }

nav {
  float: right; }
  nav h3 {
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    margin: 34px 25px 25px 25px;
    color: #828282; }
    nav h3:hover {
      color: #333447; }
    nav h3.active {
      margin: 0px 25px 25px 25px;
      padding-top: 31px;
      color: #C13A53;
      border-top: 3px solid #C13A53; }

.img-settings, .initiative-single {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.site-title img {
  width: 220px;
  margin-left: 21px;
  margin-top: 5px; }
  @media screen and (max-width: 767px) {
    .site-title img {
      width: 160px;
      margin-left: -13px;
      margin-top: 5px; } }

.content {
  padding: 30px; }

.section-photo {
  min-height: 500px;
  height: auto;
  max-height: 950px; }
  .section-photo:after {
    padding-bottom: 30%;
    content: "";
    display: block; }

section {
  padding: 90px 0 70px 0; }
  section.blue {
    background: #333447;
    color: #D1B894; }
  section.light-grey {
    background: #f7f7f6; }
  section.red {
    background: #C13A53;
    color: #D1B894; }
  section.dark-red {
    background: #761E2F;
    color: #D1B894; }
  section.olive {
    background: #D1B894;
    color: #333447; }

.light-grey {
  background: #f7f7f6; }

.blue {
  background: #333447;
  color: #D1B894; }

.red {
  background: #C13A53;
  color: #D1B894; }

.olive {
  background: #D1B894;
  color: #333447; }

.dark-red {
  background: #761E2F;
  color: #D1B894; }

.fadeInBlock {
  opacity: 0; }

section.news {
  padding: 90px 140px 70px 140px; }

.letter-body img {
  max-width: 100%;
  margin: 20px 0; }

.color-blue {
  color: #333447; }

.color-olive {
  color: #D1B894; }

.color-white {
  color: #ffffff; }

.social-icons {
  display: inline-block; }
  .social-icons img {
    height: 25px;
    margin-right: 5px;
    vertical-align: sub; }
    @media screen and (max-width: 767px) {
      .social-icons img {
        height: 23px; } }
  .social-icons p {
    display: inline-block; }

footer {
  background: #F0F0ED;
  padding: 50px 100px; }
  footer .links {
    text-align: right; }
  footer ul {
    display: inline-block;
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase; }
      footer ul li a {
        text-decoration: none;
        color: #000; }
      footer ul li:after {
        margin-left: 15px;
        content: "|"; }
      footer ul li:last-of-type:after {
        content: ""; }
  @media screen and (max-width: 767px) {
    footer {
      padding: 0; }
      footer h3 {
        font-size: 10px;
        letter-spacing: 1px; } }

.sticky-footer-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column; }

.sticky-footer {
  margin-top: 85px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

@media handheld, only screen and (max-width: 767px) {
  header {
    height: 65px !important; }
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: transparent; }
    .site-nav:hover .menu-icon {
      background-color: #333447;
      fill: #D1B894; }
  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #D1B894;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px; }
    .site-nav .menu-icon:hover {
      background-color: #333447; }
  .site-nav .menu-icon svg {
    width: 18px;
    height: 16px; }
    .site-nav .menu-icon svg:hover {
      fill: #D1B894; }
  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none; }
  .site-nav:hover .trigger {
    display: block;
    background-color: #333447; }
  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 15px;
    margin: 0; }
    .site-nav .page-link h3 {
      color: #D1B894;
      margin: 10px; }
      .site-nav .page-link h3.active {
        border: none;
        padding-top: 5px; }
  .post-header h1 {
    font-size: 36px; }
  .post-content h2 {
    font-size: 28px; }
  .post-content h3 {
    font-size: 22px; }
  .post-content h4 {
    font-size: 18px; }
  .post-content blockquote {
    padding-left: 10px; }
  .post-content ul,
  .post-content ol {
    padding-left: 10px; }
  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; } }

.hover-link {
  opacity: 0;
  padding: 0 3em;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  width: 100%;
  position: absolute; }

.home-initiatives .col-1-3 {
  padding-right: 5px;
  position: relative;
  z-index: 10; }
  .home-initiatives .col-1-3 .hover-link .button {
    margin-top: 2em; }
  .home-initiatives .col-1-3:hover .hover-link {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    opacity: 1;
    z-index: 999999; }
  .home-initiatives .col-1-3:hover div[class*='overlay-']:after {
    opacity: 0.9;
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: -webkit-calc(100% - 5px);
    height: calc(100% - 5px);
    display: block;
    position: absolute; }
  .home-initiatives .col-1-3:hover .overlay-blue:after {
    background: #333447; }
  .home-initiatives .col-1-3:hover .overlay-red:after {
    background: #761E2F; }

.initiative-single {
  min-height: 630px;
  margin-bottom: 20px; }

.flex-container .grid h3, .flex-container .grid p {
  text-align: left; }

.flex-container .grid .initiative-blurb {
  margin: 15% 0 50% 0; }
