/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */ }

.grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

.no-margin {
  margin: 0 !important; }

.center {
  float: none;
  margin: 0 auto; }

.center-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

.center-text {
  text-align: center; }

.block-overlap {
  margin-top: -4em; }

.flex-container {
  max-width: 1780px;
  padding: 0;
  margin: 0 auto;
  float: none !important;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
  -webkit-align-items: stretch;
  align-items: stretch; }

.button a {
  border: 1px solid;
  display: inline-block;
  padding: 9px 25px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.button.black a {
  color: #000; }
  .button.black a:hover {
    background: #eaeaec; }

.button.olive a {
  color: #D1B894; }
  .button.olive a:hover {
    background: #42404e; }

.button.white a {
  color: #fff; }
  .button.white a:hover {
    background: #eaeaec; }

h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 45px;
  line-height: 1.5;
  text-align: center; }

h2 {
  font-family: "Playfair Display", Times, serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center; }

h3, p, p.caption, p.button, a, ul, li {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400; }

h3 {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center; }

p {
  font-size: 14px;
  line-height: 1.5; }
  p.caption {
    font-size: 12px; }
  p.button {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center; }

a {
  color: #C13A53;
  text-decoration: none; }

.font-normal {
  font-weight: 100; }

div.clearfix {
  clear: both; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

header {
  height: 85px;
  width: 100%; }

nav {
  float: right;
  padding: 25px; }
  nav h3 {
    text-decoration: none;
    display: inline-block;
    margin-right: 25px;
    color: #333832; }
    nav h3.active {
      padding-bottom: 10px;
      border-bottom: 3px solid #C13A53; }

.site-title img {
  width: 220px;
  margin-left: 21px;
  margin-top: 5px; }

.content {
  padding: 30px; }

.section-photo {
  min-height: 500px;
  height: auto;
  padding-bottom: 30%;
  max-height: 950px; }

section {
  padding: 90px 0 70px 0; }
  section.blue {
    background: #333447;
    color: #D1B894; }
  section.light-grey {
    background: #f7f7f6; }
  section.red {
    background: #C13A53;
    color: #D1B894; }
  section.dark-red {
    background: #761e2f;
    color: #D1B894; }
  section.olive {
    background: #D1B894;
    color: #333447; }

section.news {
  padding: 90px 140px 70px 140px; }

.color-blue {
  color: #333447; }

.color-olive {
  color: #D1B894; }

.color-white {
  color: #ffffff; }

.social-icons {
  display: inline-block; }
  .social-icons img {
    height: 25px;
    margin-right: 5px;
    vertical-align: sub; }
  .social-icons p {
    display: inline-block; }

footer {
  background: #F0F0ED;
  padding: 50px 100px; }
  footer .links {
    text-align: right; }
  footer ul {
    display: inline-block;
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase; }
      footer ul li a {
        text-decoration: none;
        color: #000; }
      footer ul li:after {
        margin-left: 15px;
        content: "|"; }
      footer ul li:last-of-type:after {
        content: ""; }

.hover-link {
  opacity: 0;
  padding: 0 1em;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  width: 100%;
  position: absolute; }

.home-initiatives .col-1-3 {
  padding-right: 5px;
  position: relative; }
  .home-initiatives .col-1-3:hover .hover-link {
    opacity: 1;
    z-index: 999999; }
  .home-initiatives .col-1-3:hover div[class*='overlay-'] {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .home-initiatives .col-1-3:hover div[class*='overlay-']:after {
    opacity: 0.9;
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: -webkit-calc(100% - 5px);
    height: calc(100% - 5px);
    display: block;
    position: absolute; }
  .home-initiatives .col-1-3:hover .overlay-blue:after {
    background: #333447; }
  .home-initiatives .col-1-3:hover .overlay-red:after {
    background: #761e2f; }
  .home-initiatives .col-1-3 img {
    width: 100%; }

.initiative-single {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 630px;
  margin-bottom: 20px; }

.flex-container .grid h3, .flex-container .grid p {
  text-align: left; }
