// Colors
$red		: #C13A53;
$blue 		: #333447;
$olive		: #D1B894;
$purple 	: #4D5199;
$purple-light: #9497CC;
$grey 		: #F0F0ED;
$light-grey : #f7f7f6;
$black		: #333447;
$dark-red 	: #761E2F;
$white		: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700');

// Font Stacks
$stack-serif			: 'Playfair Display', Times, serif;
$stack-sans-serif 		: 'Open Sans', Helvetica, sans-serif;

$assets-path			: '/assets/img/';

// Mixins
@mixin transition($length) {
	-webkit-transition: all $length ease-out; 
-moz-transition: all $length ease-out;
-ms-transition: all $length ease-out;
-o-transition: all $length ease-out;
transition: all $length ease-out;
}

@mixin translateY($percent) {
	-ms-transform: translateY($percent);
    -webkit-transform: translateY($percent);
    transform: translateY($percent); 
}

// Media Query Breakpoints
 $brk-narrow 	: '(max-width: 767px)';
 $brk-wide 		: '(max-width: 1023px)';
 $brk-tablet	: '(min-width: 768px)';


// Helpers

.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}

.center {
	float: none !important;
	margin: 0 auto;
}
.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.center-text {
	text-align: center;
	display: block;
}
.block-overlap {
	margin-top: -4em !important;
	width: 90% !important;
	position: relative;
}
.flex-container {
	max-width: 1780px;
	padding: 0;
  	margin: 0 auto;
  	float: none !important;
  	list-style: none;
  
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	float: left;

	-webkit-align-items: stretch; 
  	align-items: stretch; 
  	@media screen and #{$brk-narrow} {
  		display: block;
  	}
}