// Colors
$red		: #C13A53;
$blue 		: #333447;
$olive		: #D1B894;
$purple 	: #4D5199;
$purple-light: #9497CC;
$grey 		: #F0F0ED;
$black		: #333447;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700');

// Font Stacks
$stack-serif			: 'Playfair Display', Times, serif;
$stack-sans-serif 		: 'Open Sans', Helvetica, sans-serif;

$assets-path			: '/assets/img/';

// Mixins
@mixin transition($length) {
	-webkit-transition: all $length ease-out; 
-moz-transition: all $length ease-out;
-ms-transition: all $length ease-out;
-o-transition: all $length ease-out;
transition: all $length ease-out;
}


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}


@mixin border-radius-left($radius) {
	-webkit-border-bottom-left-radius: $radius;
-moz-bottom-left-radius: $radius;
border-bottom-left: $radius;
-webkit-border-top-left-radius: $radius;
-moz-top-left-radius: $radius;
border-top-left: $radius;
}

@mixin transform($angle) {
-ms-transform: rotate($angle); /* IE 9 */
-webkit-transform: rotate($angle); /* Chrome, Safari, Opera */
-moz-transform: rotate($angle); /* Firefox */
transform: rotate($angle);
}


// Helpers

.no-margin {
margin:0 !important;
}