.email-signup-form { 
	@include placeholder-style(#955c67);
	input[type=text], input[type=email], textarea {
		@include transition(.3s);
		@include input-glow($gold-light, $olive);
		width: 100%;
	    height: 30px;
	    background-color: $dark-red;
	    padding: 5px;
	    color: $olive;
		font-family: $stack-sans-serif;
		font-size: 16px;
		
	}
	label {
		display: none;
	}
	input[type=submit] {
		@include transition(.3s);
		background-color:$dark-red;
		font-family: $stack-sans-serif;
	    border: 1px solid $olive;
	    color: $olive;
	    display: inline-block;
	    padding: 9px 25px;
	    cursor: pointer;
	    text-transform: uppercase;
	    font-size:13px;
	    letter-spacing: 1px;
	    text-decoration: none;
	    &:hover {
	    	background: #D1B894;
    		color: #333447;
	    }
	}
}