.button {
	a {
		border: 1px solid;
		font-size: 13px;
		display: inline-block;
		padding: 9px 25px;
		text-decoration: none;
		@include transition(.2s);
	}
	&.black a {
		color: $black;
		&:hover {
			background: #eaeaec;
		}
	}
	&.color-olive a {
		color: $olive;
		&:hover {
			background: #42404e;
		}
	}
	&.white a {
		color: $white;
		&:hover {
			background: #eaeaec;
		}
	}
}