.button {
	a {
		border: 1px solid;
		font-size: 13px;
		display: inline-block;
		padding: 9px 25px;
		text-decoration: none;
		@include transition(.2s);
	}
	&.black a {
		color: $blue;
		&:hover {
			background: $blue;
			color: $olive;
		}
	}
	&.color-olive a {
		color: $olive;
		&:hover {
			background: $blue;
		}
	}
	&.white a {
		color: $white;
		&:hover {
			background: $olive;
			color: $blue;
		}
	}
	&.olive-blue a {
		color: $olive;
		&:hover {
			background: $olive;
			color: $blue;
		}
	}
}