//our initiatives

.signature {
	margin-top: 0;
    margin-bottom: 30px;
    font-size: 13px;
    margin-right: 30px;
	@media screen and #{$brk-narrow} {
		font-size: 12px;
	}
}
.hover-link {
	opacity: 0;
	padding: 0 3em;
    top: 40%;
    @include translateY(-40%);
    @include transition(0.4s);
    width: 100%;
    position: absolute;
}
.home {
	@media screen and (min-width: 1024px) and (max-width: 1899px) {
		.home-hero {
			background-size: 121% !important;
    		background-position: 0px -161px;
		}
		h1 {
			padding: 0 10%;
		}
	}
	@media screen and (min-width: 1900px) {
		background-position: 0px -294px;
	}
	@media screen and #{$brk-tablet-min} and #{$brk-wide} {
		.home-hero {
			background-size: 168% !important;
    		background-position: -190px;
		}
		h1 {
			font-size: 35px;
		}
	}
	@media screen and (min-width: 2560px) {
		.home-hero { 
			background-size: 122% !important;
    		background-position: 0 -380px;
		}
	}
	
}
.home-initiatives {
	margin-top: 25px;
	.col-1-3 {
		width: -moz-calc(33.33% - 5px);
		width: -webkit-calc(33.33% - 5px);
		width: calc(33.33% - 5px);
		margin-right: 5px;
		padding: 0;
		position: relative;
		z-index: 10;
		overflow: hidden;
		.img-settings {
			width: 100%;
			overflow: hidden;
			transition-duration: 0.3s;
			position: relative;
			@include transition(0.6s);
		}
		@media only screen and #{$brk-wide} and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
 			width: 100%;
 			padding-right: 0;
		}
	.hover-link h3 {
		position: absolute;
	    top: 35%;
	    bottom: 0;
	    left: 10%;
	    right: 10%;
	}
	.hover-link .button {
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -150px;
	    top: auto;
	}
	div[class*='overlay-']:after {
		opacity: 0;
		content: '';
		@include transition(0.4s);
		position: absolute;
	}	
	&:hover {
		.hover-link {
			opacity: 1;
			@include transition(0.4s);
			z-index: 999999;
		}
		.img-settings {
			position: relative;
			transform: scale(1.1);
			@include transition(0.4s);
			overflow: hidden;
		}
		div[class*='overlay-']:after {
			@include transition(0.4s);
			opacity: 0.9;
		    content: '';
		    top: 0;
		    left: 0;
		    z-index: 10;
		    height: 100%;
		    width: 100%;
		    display: block;
		    position: absolute;
		}
		.overlay-blue:after {
			position: relative;
		    background: $blue;
		    @include transition(0.6s);
		}
		.overlay-red:after {
			position: relative;
			background: $dark-red;
			@include transition(0.6s);
		}
		}
	}
}

@media handheld, only screen and #{$brk-narrow} {
	.wrapper-initiatives {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
	}
}