// Helpers
div.clearfix {
    clear:both;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

//Header and Navigation

header {
    height: 85px;
    flex-shrink: 0;
    width:100%;
    background: $white;
    position: fixed;
    z-index: 9999;
}
nav {
    float: right;
    margin-top: 21px;
    h3 {
        text-decoration: none;
        font-size: 13px;
        display: inline-block;
        color: $nav-grey;
        &:hover {
            color: $black;
        }
        &.active {
            margin-top: 0;
            color: $red;
            position: relative;
            @media screen and #{$brk-tablet-min} {
                &:before {
                    top: -31px;
                    height: 3px;
                    display: block;
                    content: '';
                    position: relative;
                    width: 100%;
                    background-color: $red;
                    animation: line-grow 0.8s;
                    animation-timing-function: linear;
                }
            }
           
        }
    }
}
@keyframes line-grow {
  0%   { width: 0%; }
  50%  { width: 30%; }
  100% { width: 100%; }
}
.page-link {
    margin: 0 25px;
}
.page-link, h3 {
    width: auto;
    position: relative;
}

//Mobile menu

@media handheld, only screen and #{$brk-narrow} {

    .sticky-footer {
        margin-top: 65px !important;
    }
    header {
        height: 65px !important;
    }
    .page-link:focus .nav-dash::before {
        display: none;
    } 
      .site-nav {
        position: fixed;
        z-index: 10;
        top: 0px; 
        right: 0px;
        margin-top: 0;
        background-color: transparent;
      }
      .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: $olive;
        float: right;
        width: 72px;
        padding: 14.5px;
        text-align: center;
        line-height: 36px;
      }
      .menu-icon.icon-active {
            background-color: $blue;
            padding: 14.5px;
            svg {
                fill: $olive;
            }
      }
      .site-nav .menu-icon svg { 
        width: 18px; 
        height: 16px;
      }
      .site-nav .trigger {
        clear: both;
        padding-bottom: 20px;
        padding-top: 20px;  
        display: none;
      }
      .hoverTouch {
        display: block !important;
      }
      .site-nav .page-link {
        display: block;
        text-align: left;
        line-height: 1.25;
        padding: 5px 65px 5px 10px;
        margin: 0;
        h3 {
            color: $olive;
            margin: 10px;
            &.active {
                border: none;
                padding-top: 5px;
            }
        }
      }
      .post-header h1 { font-size: 36px; }
      .post-content h2 { font-size: 28px; }
      .post-content h3 { font-size: 22px; }
      .post-content h4 { font-size: 18px; }
      .post-content blockquote { padding-left: 10px; }
      .post-content ul,
      .post-content ol { padding-left: 10px; }

      .site-footer .column {
        float: none;
        clear: both;
        width: auto;
        margin: 0 0 15px; 
    }
}

//end of nav

.light-grey {
    background: $light-grey;
}
.blue {
    background: $blue;
    color: $olive;
}
.red {
    background: $red;
    color: $olive;
}
.olive {
    background: $olive;
    color: $blue;
}
.dark-red {
    background: $dark-red;
    color: $olive;
}
.color-blue {
    color: $blue;
}
.color-olive {
    color: $olive;
}
.color-white {
    color: $white;
}
.color-gold-light {
    color: $gold-light;
}

.img-settings {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    position: relative;
}
.site-title {
    img {
        width: 220px;
        margin-left: 21px;
        margin-top:5px;
        @media screen and #{$brk-narrow} {
            width: 160px;
            margin-left: -13px;
            margin-top: 5px;
        }
    }   
}
.content {
    padding: 30px;
}
.heroImage {
    opacity: 0;
}
.section-photo {
    min-height: 500px;
    height: auto;
    max-height: 950px;
    [class*='col-'] {
        padding-right: 0;
    }
    &:after {
        padding-bottom: 30%;
        content: "";
        display: block;
        @media screen and (min-width: 1440px) { 
            padding-bottom: 40%;
        }
    }
    h1 {
        opacity: 0;
        position: relative;
    }
    h3, span {
        opacity: 0;
    }
    @media screen and #{$brk-narrow} {
        min-height: 293px;
        max-height: 293px;
        h1 {
            margin-bottom: 3px !important;
        } 
        h3 {
            margin-top: 3px;
            font-size: 12px;
        }
    }
}

section {
    padding: 60px 0;
    @media screen and #{$brk-narrow} {
        padding: 20px 0;
    }
    @media screen and #{$brk-tablet-min} and #{$brk-wide} {
        padding: 40px 0;
    }
}

//  NEWS PAGE

@media screen and #{$brk-narrow} {
    .block-overlap .news {
        padding: 0 5px !important;
    }
} 

section.news {
    padding: 60px 140px;
    img {
        max-width: 100px;
        display: block;
    }
    @media screen and #{$brk-narrow} {
        padding: 0 45px;
        img {
            max-width: 65px;
            display: inline-block; 
        }
        .button a {
            display: block;
            text-align: center;
        }
    }
    @media screen and #{$brk-tablet-min} and #{$brk-wide} {
        padding: 70px 90px;
    }
}

// Animation

.fadeInBlock {
    opacity: 0;
}

//LETTER

.letter-body {
    img {
        max-width: 100%;
        margin: 20px 0;
    }
    h1, h2 {
        font-family: $stack-sans-serif;
    }
}

.letter-hero {
    background-position-y: 27%;
    background-position-x: 100%;
    background-blend-mode: soft-light;
    background-color: rgba(51, 52, 71, 0.6);
    @media screen and #{$brk-tablet-min} {
        background-size: 115%;
    }
    @media screen and #{$brk-narrow} {
        background-position-x: 63%;
    }
    h1 {
        padding: 0 10%;
    }
}

// About Us page
.about .col-1-4 {
    h4 {
        margin-bottom: 9px;
        &.font-normal {
            margin-top: 0;
        }
    }
}
@media handheld, only screen and #{$brk-narrow} {
    .about-image {
        min-height: 226px !important;
    }
}
.about .col-1-2 {
    padding-right: 0;
}
@media handheld, only screen and #{$brk-wide} { 
    .about .block-overlap .tablet-col-1-60 {
        width: 68%;
        margin: 0 auto;
    }
    
}
@media handheld, only screen and #{$brk-narrow} {
    .about .block-overlap .tablet-col-1-60 {
        width: 100%;
        margin: 0 auto;
    }
}
@media handheld, only screen and #{$brk-tablet-min} and #{$brk-wide} {
    .about .col-1-2, .initiatives-sub .col-8-12 {
        padding-right: 0;
    }
    .initiatives-sub .col-8-12 {
        width: 77%;
    }
} 

// Staff-member page 
    
@media screen and #{$brk-narrow} { 
    .staff-member {
        .content {
            padding: 0;
        }
        .col-4-12 {
            padding: 0 20px;
            margin: 0 auto;
            float: none;
            text-align: center;
            img {
                padding-right: 0 !important;
            }
        }
        .col-8-12 {
            padding: 0 20px;
            h3 {
                text-align: center !important;
                margin-top: 14px;
            }
        }
        .button {
            text-align: center !important;
        }
    }
}



//Contact page 
@media screen and #{$brk-narrow} { 
    .contact-social {
        margin-top: 1em;
    }
    .contact .social-icons {
        .fb {
            transform: translate(-117%, -62%) !important;
        }
        .twitter {
            transform: translate(16%, -56%) !important;
        }
    }   
}
.contact .block-overlap {
    margin: -4em auto 60px auto !important;
    @media screen and #{$brk-narrow} { 
        margin-bottom: 0 !important;
    }
}

// about page

.about, .contact {
    .social-icons {
        display: inline-block;
        .twitter {
            position: absolute;
            transform: translate(-1%, -54%);
            &:hover svg {
                fill: #1da1f4;
            }
        }
        .fb {
            position: absolute;
            transform: translate(-89%, -2%);
            &:hover svg {
                fill: #3b5998;
            }
        }
        svg {
            height: 25px;
            margin-right: 10px;
            fill: #ccc;
            @media screen and #{$brk-narrow} {
                height: 23px;
                margin-right: 8px;
            }
        }
        p, h4 {
            display: inline-block;
        }
        
    }
}

footer {
    background: $grey;
    padding: 40px 100px; 
    .links {
        text-align: right;
        @media screen and #{$brk-narrow} {
            padding-right: 0;
        }
    }
    h3 {
        font-size: 13px;
        margin-top: 3px;
    }
    ul {
        display: inline-block;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;    
            a {
                text-decoration: none;
                color: $black;
                &:hover {
                    color: $nav-grey;
                }
            }
            &:after {
                margin-left: 15px;
                content: "|";
                color: $black;
            }
            &:last-of-type:after {
                content: "";
            }
        }
    }
    @media screen and #{$brk-narrow} {
        padding: 0;
        h3 {
            font-size: 10px;
            letter-spacing: 1px;
            margin-top: 3px;
        }
    }
    @media screen and #{$brk-tablet-min} and (max-width: 1095px) {
        padding: 1em;
        h3, ul li {
            font-size: 12px;
            letter-spacing: 1.5px;
        }
        ul {
            padding-left: 0;
        }
        .social-icons svg {
            height: 23px;
        }
        .links {
            padding-right: 0;
        }
    }

    .social-icons {
        @media screen and #{$brk-tablet-min} {
            width: 13%;
        }
        @media screen and (min-width: 1024px) {
            width: 10%;
        }
        display: inline-block;
        .twitter {
            position: absolute;
            transform: translate(-61%, -53%);
            &:hover svg {
                fill: #1da1f4;
            }
        }
        .fb {
            position: absolute;
            transform: translate(-197%, -61%);
            @media screen and #{$brk-tablet-min} {

            }
            &:hover svg {
                fill: #3b5998;
            }
        }
        svg {
            height: 25px;
            margin-right: 10px;
            fill: #ccc;
            @media screen and #{$brk-narrow} {
                height: 23px;
                margin-right: 8px;
            }
        }
        p, h4 {
            display: inline-block;
        }
        
    }
}
.sticky-footer-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.sticky-footer {
    margin-top: 85px;   
    flex: 1;  
    flex-shrink: 0;  
}

.page-content {
    flex: 1 0 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
}

//Letter 

.letter-tabs {
    display: block;
    padding: 0;
    li {
        display: inline-block;
    }
    h3 {
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        margin: 20px;
        color: $nav-grey;
        &:first-of-type {
            margin-left: 0;
        }
        &:hover {
            color: $black;
        }
        &.active {
            margin: 0px 25px 25px 0;
            padding-top: 31px;
            color: $black;
            border-top: 3px solid $red;
        }
    }
}

// IE 11 hacks

//for SVG within img scaling 

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    height: 74px;
  }
}


