@media handheld, only screen and #{$brk-narrow} {
	.wrapper-initiatives {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
	}
}

@media handheld, only screen and #{$brk-tablet-min} and #{$brk-wide} {
	.wrapper-initiatives {
		padding-bottom: 0;
	}
}

.initiative-single {
	overflow: hidden;
	@extend .img-settings;
	min-height: 640px; 
	@include transition(0.6s);
	@media screen and #{$brk-narrow} {
		margin-bottom: 0;
		min-height: 360px; 
	}
}
.knight-hennessy-scholars .initiative-sub-hero {
	background-position: top !important;
	@media screen and (min-width: 1600px) {
		background-position: 0 24% !important;
	}
	h1 {
		padding: 0 10%;
	}
}
.knight-hennessy-scholars {
	.mobile-col-2-3 .statement-item {
		width: 100% !important;
    	padding: 0 17% !important;
	}
}
@media screen and (min-width: 1023px) {
	.food-nutrition-and-rural-livelihoods-initiative {
		.initiative-sub-hero { 
			background-position-x: 80%;
			background-size: 114%;
			background-position-y: 28%;
		}
	}
}

@media screen and #{$brk-tablet-min} and #{$brk-wide} {
	.food-nutrition-and-rural-livelihoods-initiative {
		.initiative-sub-hero {
	    	background-position: -126px 45% !important;
	    	background-size: 130% !important;
	    }
	}
}
@media screen and #{$brk-narrow} {
	.food-nutrition-and-rural-livelihoods-initiative {
		.initiative-sub-hero {
			background-blend-mode: soft-light;
		    background-color: rgba(255,255,255,0.4);
		}
	}
}

.thrive-foundation-for-youth {
	.initiative-sub-hero {
		background-size: 106%;
    	background-position: 0% 52%;
	}
}
.initiatives-hero {
	@media screen and (min-width: 1024px) {
		background-position: top left !important;
	}
}

.initiative-intro {
	@media screen and #{$brk-narrow} {
		padding: 0 20px;
	}
}
//Positioning focus images for tablet

.seed {
	.mobile-col-1-3 .fadeInBlock:nth-of-type(2) {
		background-position: left;
	}
}

.knight-hennessy-scholars {
	.mobile-col-1-3 .fadeInBlock:nth-of-type(3), .mobile-col-2-3 .fadeInBlock:nth-of-type(2) { 
		display: none !important;
	}
	.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
		width: 100% !important;
	}
}
@media screen and (min-width: 320px) and #{$brk-wide} {
	.knight-hennessy-scholars {
		.mobile-col-1-3 .fadeInBlock:nth-of-type(2) {
			background-position: 66%;
		}
		.mobile-col-1-3 .fadeInBlock:nth-of-type(3) {
			background-position: 84%;
		}
		.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
			background-position: 73%;
		}
	}
	.food-nutrition-and-rural-livelihoods-initiative {
		.mobile-col-1-3 .fadeInBlock:nth-of-type(2) {
			background-position: 68%;
		}
	}
	.king-scholars {
		.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
			width: 100% !important;
		}
	}	
}

@media screen and #{$brk-narrow} {
	.king-scholars {
		.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
			min-height: 135px !important;
		}
	}
}

//

.focus-images {
	.mobile-col-1-3 {
		padding-right: 0;
		width: 40%;
	}
	.mobile-col-2-3 {
		width: 60%;
	}
	@media screen and #{$brk-narrow} {
		h2 {
			font-size: 14px;
		}
	}	
	.col-1-2 {
		padding-right: 10px;
	}
	.mobile-col-2-3, .mobile-col-1-3 {
		.fadeInBlock {
			top: 60px;
		}
	}
	.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
		width: 80%; 
		float: right; 
		min-height: 350px; 
		margin-bottom: 10px;
	}
	.mobile-col-2-3 .fadeInBlock:nth-of-type(2) {
		width: 100%; 
		clear: both; 
		min-height: 320px;
	}
	.mobile-col-1-3 .fadeInBlock:nth-of-type(3) {
		width: 78%; 
		margin-left: -22%; 
		min-height: 300px; 
		margin-bottom: 10px;
		@media screen and #{$brk-tablet-min} and #{$brk-wide} {
			width: 100%; 
		}
	}
	.mobile-col-1-3 .fadeInBlock:nth-of-type(2) {
		width: 100%; 
		min-height: 526px; 
		margin-bottom: 10px;
	}
	.mobile-col-2-3 .statement-item {
		min-height: 300px; 
		width: 78%; 
		padding: 0 7%; 
		margin-top: 10px; 
		text-align: center;
	}
	@media screen and #{$brk-narrow} {
		margin: 1em 0;
		.col-1-2:nth-of-type(2) {
			padding-right: 0;
		}
		.mobile-col-2-3 .fadeInBlock:nth-of-type(1) {
			width: 100%;
			min-height: 170px;
		}
		.mobile-col-2-3 .fadeInBlock:nth-of-type(2) {
			min-height: 118px;
		}
		.mobile-col-1-3 .fadeInBlock:nth-of-type(3) {
			min-height: 100px;
			margin-left: 0;
			width: 100%;
		}
		.mobile-col-1-3 .fadeInBlock:nth-of-type(2) {
			min-height: 200px;
		}
		.mobile-col-2-3 .statement-item {
			min-height: 150px;
    		width: 100%;
		}
	}
}
@media screen and #{$brk-narrow} {
	.focus-images .grid , .focus-images .grid {
		padding: 0;
	}
	.focus-images .div:nth-of-type(1) {
		height: 170px;
	}
	
}

.flex-container {
	margin-bottom: 20px;
	overflow: hidden;
	@media screen and #{$brk-narrow} {
		margin-bottom: 0;
	}
	&:hover {
		.initiative-single {
			position: relative;
			transform: scale(1.05);
			@include transition(0.4s);
			overflow: hidden;
		}
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	&:nth-of-type(4) .initiative-single {
		background-position: top !important;
	}
	&:nth-of-type(5) .initiative-single {
		background-position: left !important;
	}
	.col-1-3 {
		position: relative;
		z-index: 99;
	}
	.grid {
		h3, p {
			text-align: left;
		}
		p {
			font-size: 16px;
		}
		.initiative-blurb {
			margin: 10% 0 30% 0;
			line-height: 1.5;
		}
	}
}