// Helpers
div.clearfix {
	clear:both;
}

.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}

header {
	height:85px;
	width:100%;
	// background:#fff;
	// position: fixed;
}

nav {
	float: right;
	padding:25px;
	h3 {
		text-decoration: none;
		display: inline-block;
		margin-right:25px;
		color: #333832;
		&.active {
			padding-top: 21px;
    		margin-top: -10px;
    		color: $red;
			border-top: 3px solid $red;
		}
	}
}
.img-settings {
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	position: relative;
}
.site-title {
	img {
		width: 220px;
		margin-left: 21px;
		margin-top:5px;
	}
}

.content {
	padding:30px;
}

.section-photo {
	min-height: 500px;
	height: auto;
    max-height: 950px;
    &:after {
    	padding-bottom: 20%;
    	content: "";
  		display: block;
    }
}

section {
	padding: 90px 0 70px 0;

	&.blue {
		background: $blue;
		color: $olive;
	}
	&.light-grey {
		background: $light-grey;
	}
	&.red {
		background: $red;
		color: $olive;
	}
	&.dark-red {
		background: $dark-red;
		color: $olive;
	}
	&.olive {
		background: $olive;
		color: $blue;
	}
}
//Light-gray background for div. Used for staff member page to be gray
.light-grey {
	background: $light-grey;
}

// Animation

.fadeInBlock {
    opacity: 0;
}

// MOVE TO NEWS 
section.news {
	padding: 90px 140px 70px 140px;
}

//MOVE TO LETTER

.letter-body {
	img {
		max-width: 100%;
		margin: 20px 0;
	}
}

//
.color-blue {
	color: $blue;
}
.color-olive {
	color: $olive;
}
.color-white {
	color: $white;
}
.social-icons {
	display: inline-block;
	img {
		height: 25px;
		margin-right: 5px;
		vertical-align: sub;
	}
	p {
		display: inline-block;
	}
}


footer {
	background: $grey;
	padding: 50px 100px; 
	.links {
		text-align: right;
	}
	ul {
		display: inline-block;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 10px;
			font-size: 14px;
		    letter-spacing: 2px;
		    text-transform: uppercase;
		    a {
		    	text-decoration: none;
		    	color: #000;
		    }
			&:after {
				margin-left: 15px;
				content: "|";
			}
			&:last-of-type:after {
					content: "";
			}
		}
	}
}
.sticky-footer-body {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
  	min-height: 100vh;
  	-webkit-flex-direction: column; 
    flex-direction: column;
}
.sticky-footer {
	-webkit-box-flex: 1;   
  	-webkit-flex: 1;       
  	-ms-flex: 1;           
  	flex: 1;      
}