.initiative-single {
	@extend .img-settings;
	min-height: 640px; 
	margin-bottom: 20px;
}

.flex-container .grid {
	h3, p {
		text-align: left;
	}
	.initiative-blurb {
		margin: 10% 0 30% 0;
		line-height: 1.5;
	}
}