<footer class="site-footer">

  <div class="wrapper">
  	<div class="grid">
  		<div class="col-1-2">
    		<h3 class="text-left">&copy; 2016 King Philanthropies</h3>
    	</div>
    	<div class="col-1-2 links">
    		<ul>
    			<li><a href="/about">About</a></li>
    			<li><a href="/contact-us">Contact</a></li>
    			<li>Press Kit</li>
    		</ul>
    		<div class="social-icons">
    			<a href="//www.facebook.com/kingphilanthropies/" target="_blank"><img src="{{ site.image_path }}/icon-fb.svg" alt="facebook logo"></a>
    			<img src="{{ site.image_path }}/icon-twitter.svg" alt="twitter logo">
    		</div>
    	</div>
    </div>

  </div>

</footer>
