<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/assets/img/logo.svg" alt="King logo" /> 
    </a>

    <nav class="site-nav">

        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><h3 class="{% if my_page.title == page.title %}active{%endif%}">{{ my_page.title }}</h3></a>
          {% endif %}
        {% endfor %}
    </nav>

  </div>

</header>
 