<div id="mc_embed_signup">
	<form action="//kingphilanthropies.us15.list-manage.com/subscribe/post-json?u=34db18217e6f74c87f76568df&amp;id=f57f6e33b8&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate email-signup-form" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		
		<div class="grid">
			<div class="col-1-3">
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
			</div>
			<div class="col-1-3">
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name </label>
					<input type="text" value="" placeholder="First Name" name="FNAME" class="" id="mce-FNAME">
				</div>
			</div>
			<div class="col-1-3">
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name </label>
					<input type="text" value="" name="LNAME" placeholder="Last Name" class="" id="mce-LNAME">
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid">
			<div id="mce-responses" class="clear">
				<p>
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</p>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_34db18217e6f74c87f76568df_f57f6e33b8" tabindex="-1" value=""></div>
		    <div class="clear">
				<p class="button color-olive">
					<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
				</p>
		    </div>
		    </div>
	    </div>
	</form>
</div>


