---
layout: default
---
<div class="img-settings" style="background-image: url('{{site.data.contentful.spaces.proddata.pages[0].heroAbout.url}}')">
	<div class="section-photo center-vertical">
		<div class="grid">
			<div class="col-8-12 center">
				<h1 class="color-olive">Creating opportunity for those who need it most</h1>
			</div>
		</div> 
	</div>
</div>

<section class="light-grey">
	<div class="grid">
	<h3>About king Philanthropies</h3>
	<span class="center-text">&mdash;</span>
		<div class="col-1-2 center tablet-col-1-60">
			<p>{{ site.data.contentful.spaces.proddata.pages[0].aboutKingPhilanthropiesText  | markdownify }}</p>
		</div>
	</div>
</section>


<div class="img-settings about-image" style="background-image: url('{{ site.data.contentful.spaces.proddata.pages[0].aboutImage.url}}'); min-height: 616px;" title="{{ site.data.contentful.spaces.proddata.pages[0].aboutImage.title}}" />
</div>

<section class="grid light-grey block-overlap center">
	<h3>About the Founders</h3>
	<span class="center-text">&mdash;</span>
	<div class="col-1-2 center tablet-col-1-60">
		<p>{{ site.data.contentful.spaces.proddata.pages[0].aboutTheFoundersText  | markdownify }}</p>
	</div>
</section>

<section>
	<h3>Staff</h3>
	<span class="center-text">&mdash;</span>
	<div class="grid content">
		{% assign sorted_staff = site.data.contentful.spaces.proddata.staffMember | sort:"order" %}
			
			{% for staff in sorted_staff %}
			
			<div class="col-1-4 tablet-col-1-3 mobile-col-1-1 custom-col-1-2" style="height: 375px;">
		        <a href="/staff-member/{{ staff.url }}"><div class="img-settings" style="background-image: url('{{ staff.picture.url }}'); height: 260px; " title="{{ boardMember.picture.title }}"/></div></a> 
		        <a href="/staff-member/{{ staff.url }}"><h4 class="center-text">{{ staff.name }}</h4></a>
		        <h4 class="center-text font-normal">{{staff.jobTitle}}</h4>
		    </div>
    	
    	{% endfor %}
    	
	</div>

</section>

<section class="blue">
	<div class="grid">
		<h3>Our Board</h3>
		<span class="center-text">&mdash;</span>
		{% for boardMember in site.data.contentful.spaces.proddata.boardMember %}
		{% capture modulo-four %}{{ forloop.index | modulo: 4 }}{% endcapture %}

			<!-- TODO: add more conditions  -->
			{% if modulo-four == '1' %}
				<div class="grid content">
					
			{% endif %}
				<div class="col-1-4">
					<h3 class="color-white" style="text-transform: none; letter-spacing: 1px;">{{ boardMember.name }}</h3>
		    	</div>
		    {% if modulo-four == '0' or forloop.last %}
		    		
	    		</div>
	    	{% endif %}	
    	{% endfor %}
	</div>
</section>

<section>
	<div class="grid">
	<h3>Contact Us</h3>
	<span class="center-text">&mdash;</span>
		<div class="col-1-2 center tablet-col-1-60">
			<p>{{ site.data.contentful.spaces.proddata.pages[0].contactUsText  | markdownify }}</p>
			<div class="center center-text about-contacts">
				<div class="social-icons">
					<a href="//www.facebook.com/kingphilanthropies/" target="_blank" class="fb" style="margin-right: 30px;"><svg viewBox="0 0 50 50" height="25px" width="25px"><path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"/></svg></a>
					<!-- <h4 class="font-normal">Follow us on Facebook</h4> -->
					<!-- <h3 class="hide-on-mobile hide-on-tablet" style="display: inline-block; margin: 0 1em;">|</h3> -->
				</div>
				<div class="social-icons">
					<a href="//twitter.com/KingPhilanthrop" target="_blank" class="twitter"><svg viewBox="0 0 16 16" height="25px" width="25px"><path d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/></svg></a>
					<!-- <h4 class="font-normal">Follow us on Twitter</h4> -->
				</div>


			</div>
		</div>
	</div>
</section>