---
layout: default
---
<section class="red section-photo">
	<div class="content">
		<h1>Alleviating Extreme Poverty in Africa and Asia</h1>
	</div> 
</section>

<section class="light-grey">
	<div class="content">
		<h3>About king Philanthropies</h3>
		<p>{{ site.data.contentful.spaces.proddata.pages[0].aboutKingPhilanthropiesText  | markdownify }}</p>

	</div>
</section>

<section>
	<img src="{{ site.data.contentful.spaces.proddata.pages[0].aboutImage.url}}" alt="{{ site.data.contentful.spaces.proddata.pages[0].aboutImage.title}}" />
</section>

<section class="light-grey">
	<div class="content">
	<h3>About the Founders</h3>
		<p>{{ site.data.contentful.spaces.proddata.pages[0].aboutTheFoundersText  | markdownify }}</p>
	</div>
</section>

<section>
	<div class="content">
		<h3>Staff</h3>
		{% assign sorted_staff = site.data.contentful.spaces.proddata.staffMember | sort:"order" %}
		{% for staff in sorted_staff %}
	        <a href="/staff-member/{{ staff.url }}"><h2>{{ staff.name }}</h2></a>
	        <p>{{staff.jobTitle}}</p>
	        <img src="{{ staff.picture.url }}" alt="{{ boardMember.picture.title }}" style="max-width: 200px;" /> 
    	{% endfor %}
	</div>
</section>

<section class="blue">
	<div class="content">
		<h3>Our Board</h3>
		{% for boardMember in site.data.contentful.spaces.proddata.boardMember %}
			<h2>{{ boardMember.name }}</h2>
		    <img src="{{ boardMember.picture.url }}" alt="{{ boardMember.picture.title }}" style="max-width: 200px;" /> 
    	{% endfor %}
	</div>
</section>

<section>
	<div class="content">
		<h3>Contact Us</h3>
		<p>{{ site.data.contentful.spaces.proddata.pages[0].contactUsText  | markdownify }}</p>
	</div>
</section>