---
layout: default
---
<section class="red">
	<div class="content">
		<h1>Alleviating Extreme Poverty in Africa and Asia</h1>
	</div>
</section>

<section class="light-grey">
	<div class="content">
		<h3>About king Philanthropies</h3>
		<p>After a successful career as the founder of a California-based venture capital firm, Bob King and his wife Dottie shifted their focus to philanthropy in 1995. In the two decades that have followed they have become a national leader in philanthropic investments. King Philanthropies’ goals and work flows directly from the inspiration of its founders and centers on a singular goal: to alleviate extreme poverty</p>
	</div>
</section>

<section>
	<h1>Image</h1>
</section>

<section class="light-grey">
	<div class="content">
	<h3>About the Founders</h3>
		<p>Bob King graduated from Dartmouth in 1957 and earned an M.B.A. from Stanford in 1960. He is the founder of Peninsula Capital, a Menlo Park, California-based venture capital firm, and founder and former president of R. Eliot King &amp; Associates Inc. In 1995, the Kings founded the Thrive Foundation for Youth to help children in under-resourced communities reach their full potential. In 2011 a landmark $150 million donation from the Kings established the Stanford Institute for Innovation in Developing Economies. In 2013, Bob and Dottie partnered with Dartmouth College to create the King Scholar Leadership Program for students with exceptional potential from developing nations in Latin America, Africa, and Asia.</p>
	</div>
</section>

<section>
	<div class="content">
		<h3>Staff</h3>
	</div>
</section>

<section class="blue">
	<div class="content">
		<h3>Our Board</h3>
	</div>
</section>

<section>
	<div class="content">
		<h3>Contact Us</h3>
		<p>King Philanthropies employs a personalized and targeted approach to philanthropy. We dedicate ourselves wholly to the initiatives that fit within the goals of our founders and our larger mission to alleviate extreme poverty in Africa and parts of Asia. For this reason, we cannot accept unsolicited requests for funds. Other inquiries can be sent to info@kingphilanthropies.org.</p>
	</div>
</section>