---
layout: default
---

<section class="img-settings" style="background-image: url('{{site.data.contentful.spaces.proddata.pages[0].heroContactUs.url}}')">
	<div class="section-photo center-vertical">
		<div class="grid">
			<h1 class="color-olive">Contact Us</h1>
			<p class="color-white center-text">info@kingphilanthropies.org</p> 
			<div class="center center-text">
				<div class="social-icons">
					<a href="//www.facebook.com/kingphilanthropies/" target="_blank"><img src="{{ site.image_path }}/icon-fb.svg" alt="facebook logo"></a>
					<p class="color-white">Follow us on Facebook</p>
					<h3 class="color-white" style="display: inline-block; margin: 0 1em;">|</h3>
				</div>

				<div class="social-icons">
					<a href="//twitter.com/KingPhilanthrop" target="_blank"><img src="{{ site.image_path }}/icon-twitter.svg" alt="twitter logo"></a>
					<p class="color-white">Follow us on Twitter</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="grid light-grey block-overlap" style="margin-bottom: 60px;">
	<h3 class="center-text">&mdash;</h3>
	<div class="content col-1-2 center">
		<p>{{ site.data.contentful.spaces.proddata.pages[0].contactUsText  | markdownify }}</p>
	</div>
</section>
