---
layout: default
group: "initiatives"
---


<div class="initiatives-sub">
<div class="img-settings initiative-sub-hero" style="background-image: url('{{page.contentful_fields.heroSingleInitiative.file.url}}');">
	<div class="section-photo center-vertical">
		<div class="grid">
			<div class="col-6-12 center">
			{% assign pageTitle = page.title | slugify %}
				<h1 class="{{ page.contentful_fields.heroTitleColor }}" style="margin-bottom: 9px">{{ page.contentful_fields.initiativeTitle }}</h1>
				<span class="center-text {{ page.contentful_fields.heroTitleColor }} ">&mdash;</span>
				<h3 class="{{ page.contentful_fields.heroTitleColor }}">{{ page.contentful_fields.initiativeSubtitle }}</h3>
			</div>
		</div>
	</div>
</div>

<div class="grid block-overlap center">

	<section class="light-grey">
		<h3>the opportunity</h3>
		<span class="center-text">&mdash;</span>
		<div class="col-8-12 center initiative-intro">
			<p>{{ page.contentful_fields.theOpportunity |  markdownify }}</p>
		</div>
	</section>

</div>

<section class="focus-images">
	<div class="grid">
	<div class="center">
		<div class="col-1-2 mobile-col-2-3">
			<div class="fadeInBlock img-settings" style="background-image: url('{{ page.contentful_fields.ourFocusImage1.file.url }}');" title="{{page.contentful_fields.ourFocusImage1.file.title}}" data-original="{{ page.contentful_fields.ourFocusImage1.file.url }}">
			</div>
			<div class="fadeInBlock img-settings" style="background-image: url('{{ page.contentful_fields.ourFocusImage2.file.url }}');" title="{{page.contentful_fields.ourFocusImage2.file.title}}"></div>
			<div class="statement-item color-olive center-vertical"><h2>{{ page.contentful_fields.statementGalleryBottomLeft }}</h2></div>
		</div>
		<div class="col-1-2 mobile-col-1-3">
			<div class="color-blue center-vertical" style="min-height: 145px; margin-bottom: 10px; width: 100%; padding: 0 17%; text-align: center;"><h2>{{ page.contentful_fields.statementGalleryTopRight }}</h2></div>
			<div class="fadeInBlock img-settings" style="background-image: url('{{ page.contentful_fields.ourFocusImage3.file.url }}');" alt="{{page.contentful_fields.ourFocusImage3.file.title}}"></div>
			<div class="fadeInBlock img-settings" style="background-image: url('{{ page.contentful_fields.ourFocusImage4.file.url }}');" alt="{{page.contentful_fields.ourFocusImage3.file.title}}"></div>
		</div>
	</div>
	</div>
</section>

<section class="dark-red">
	<div class="grid">
		<div class="col-8-12 center">
			<h3 class="color-olive">the initiative</h3>
			<span class="color-olive center-text">&mdash;</span>
			<p class="color-olive">{{ page.contentful_fields.theInitiativeText }}</p>
			<div class="col-1-2 {% if page.contentful_fields.moreAboutUrl == nil or page.contentful_fields.moreAboutUrl == '' %} center {% endif %}">
				<p class="button olive-blue"><a href="/initiatives" style="display: block;">View All King Initiatives</a></p>
			</div>
			{% if page.contentful_fields.moreAboutUrl %} 
				<div class="col-1-2">
					<p class="button olive-blue"><a href="{{page.contentful_fields.moreAboutUrl}}" target="_blank" style="display: block;">Visit the initiative website</a></p>
				</div>
			{% endif %}
		</div>
	</div>
</section>
</div>