---
layout: default
---
<section class="olive section-photo">
	<div class="">
		<h1>Our Initiatives</h1>
	</div>
</section>

{% assign sorted_initiatives = site.data.contentful.spaces.proddata.initiatives | sort:"order" %}
{% for initiative in sorted_initiatives %}

	{% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}
	
		{% if modulo == '0' %}
		<div class="flex-container">
			<div class="col-2-3 initiative-single" title="{{ initiative.landscapeImage.title }}" style="background-image: url('{{ initiative.landscapeImage.url }}');">
			</div>
			
			<section class="col-1-3 {{ initiative.color }}" style="margin-bottom: 20px;">
				<div class="grid col-1-2 center">
					<h3>{{ initiative.initiativeTitle }}</h3>
					<p>{{ initiative.initiativeBlurb }}</p>
					<p class="button black"><a href="/initiatives/{{initiative.url}}">View Initiative</a></p>
				</div>
			</section>
		</div>
		{% else %}
		<div class="flex-container">
		 	<section class="col-1-3 {{ initiative.color }}" style="margin-bottom: 20px;">
		 		<div class="grid col-1-2 center">
					<h3 class="color-white">{{ initiative.initiativeTitle }}</h3>
					<p class="color-white">{{ initiative.initiativeBlurb }}</p>
					<p class="button white"><a href="/initiatives/{{initiative.url}}">View Initiative</a></p>
				</div>
			</section>
			<div class="col-2-3 initiative-single" title="{{ initiative.landscapeImage.title }}" style="background-image: url('{{ initiative.landscapeImage.url }}');">
			</div>
		</div>
		{% endif %}
		
	
{% endfor %}


	<section class="grid">
		<div class="col-8-12 content center">
			<h2 class="color-blue">King Philanthropies is inspired by the generous spirit of its founders</h2>
			<p class="button olive"><a href="#">Learn More</a></p>
		</div>
	</section>

