---
layout: default
---

<section class="img-settings" style="background-image: url('{{site.data.contentful.spaces.proddata.pages[0].heroNewsLanding.url}}')">
	<div class="section-photo center-vertical">
		<div class="grid">
			<div class="col-8-12 center">
				<h1 class="color-olive">In the News</h1>
			</div>
		</div>
	</div>
</section>
 
{% for post in site.data.contentful.spaces.proddata.newsPost %}
{% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

{% if forloop.first %}
	<div class="grid block-overlap">
{% endif %}

<section class="{% if forloop.first %} light-grey news {% endif %} {% if modulo == '1' %} light-grey {% endif %} ">
	<section class="grid {% if forloop.first == false %} news {% endif %}">
		<div class="col-3-12">
  			<img src="{{ post.sourceLogo.url }}" alt="{{ post.sourceLogo.title }}" style="max-width: 65%;">
		</div>
		<div class="col-9-12">
			<h2 class="text-left" style="margin-top: 0;">{{ post.title }}</h2>
			<p class="caption">{{ post.source }}</p>
			<p>{{ post.content }}</p>
			<p class="button {% if post.color == 'blue' %} olive {% else %} black {% endif %} text-left">
				<a href="{{post.link}}" target="_blank">Read More</a>
			</p>
		</div>
	</div>
	</section>
</section>
{% if forloop.first %}
	</div>
{% endif %}
{% endfor %}


<section class="blue">
	<div class="grid">
		<div class="col-1-2 center">
			<h2 class="font-normal">King Philanthropies is inspired by the generous spirit of its founders</h2>
			<p class="button olive"><a href="#">More about king Initiatives</a></p>
		</div>
	</div>
</section>