---
layout: default
---

<div class="img-settings" style="background-image: url('{{site.data.contentful.spaces.proddata.pages[0].heroNewsLanding.url}}')">
	<div class="section-photo center-vertical">
		<div class="grid">
			<div class="col-8-12 center">
				<h1 class="color-olive">In the News</h1>
			</div>
		</div>
	</div>
</div>

{% assign sortedNews = site.data.contentful.spaces.proddata.newsPost | sort: "order" %}

{% for post in sortedNews %}
{% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

{% if forloop.first %}
	<div class="grid block-overlap center">
{% endif %}
<section class="{% if forloop.first %} light-grey news {% endif %} {% if modulo == '1' %} light-grey {% endif %}">
	<section class="grid center {% if forloop.first == false %} news {% endif %}">
		
		<div class="col-3-12">
		{% if post.sourceLogo %}
  			<img class="center" src="{{ post.sourceLogo.url }}" alt="{{ post.sourceLogo.title }}">
		{% endif %}
		</div>
		
		<div class="col-9-12">
			<h2 class="text-left no-margin">{{ post.title }}</h2>
			<p class="caption">{{ post.source }}</p>
			<p>{{ post.content | markdownify }}</p>
			<p class="button {% if post.color == 'blue' %} olive {% else %} black {% endif %} text-left">
				<a href="{{post.link}}" target="_blank">Read More</a>
			</p>
		</div>
	</section>
</div>
</section>
{% if forloop.first %}
	</div>
{% endif %}
{% endfor %}


<section class="blue">
	<div class="grid">
		<div class="col-8-12 content center">
			<h2 class="font-normal">King Philanthropies is inspired by the generous spirit of its founders Bob &amp; Dottie King</h2>
			<p class="button olive-blue"><a href="/about">More about king Initiatives</a></p>
		</div>
	</div>
</section>